DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=travel_booker
DB_SCHEMA=public
DB_USER=postgres
DB_PASSWORD=postgres
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_SECRET=replace_me_with_a_secret_key
JWT_EXPIRES=60s

# Optional
PORT=3000
